body{
	background-image: url(fundo.png);
	background-repeat: repeat;
}

#campoBotao{
	background: rgba(255,255,255,0.5);
	width:80%;
    float:center;
    padding:10px;
	margin-top:0px;
	
}

#conteudo{
	background-color: white;
	width:70%;
	height:100%;
    float:center;
    padding:10px;
	border: 1px dashed #000000;
	box-shadow: 0px 5px 5px #888888;
}

#pipo{
	width:50%;
	height:50%;
	margin-bottom:0px;
}

.botao:hover{
	opacity: 0.8;
}